<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.AnnyCases">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseLoginKotlin"
        tools:targetApi="31">
        <activity android:name="com.example.AnnyCases.DeleteAccountActivity"/>
        <activity android:name="com.example.AnnyCases.UpdatePasswordActivity"/>
        <activity android:name="com.example.AnnyCases.CheckEmailActivity" />
        <activity android:name="com.example.AnnyCases.AccountRecoveryActivity"/>
        <activity android:name="com.example.AnnyCases.MainActivity"
            android:theme="@style/Theme.Main"/>
        <activity android:name="com.example.AnnyCases.SignUpActivity"/>

        <activity android:name="com.example.AnnyCases.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>